@charset "UTF-8";

html {
    font-size: 16px;
}

body {
    background-image: url();
}

body {
    width: 80%;
    margin: auto;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Serif JP', serif;
}

header {
    width: 100%;
    background-color: #f5a511;
    margin-bottom: 4rem;
}

li {
    display: inline-block;
}

.menu2 {
margin: 0 16px;
}

.section1 {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2.5rem;
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #f4f4f4;
    border-left: solid 6px #f5a511;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.text1 h2 {
    font-size: 2rem;
    letter-spacing: 3px;
}

article h3 {
    background-color: #f5a511;
    margin-top: 1.0rem;
}



.pict1 {
    border-radius: 50%;
}

.section2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.pict2 {
    width: 640px;
    height: 424px;
    border-radius: 50%;
}

.section3 {
    display: flex;
    justify-content: space-between;
}
