@charset "UTF-8";

html {
    font-size: 16px;
}

body {
    background-image: url();
}

body {
    width: 90%;
    margin: auto;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Serif JP', serif;
}

img {
    max-width: 100%;
    height: atuo;
}

header {
    width: 100%;
    height: 5rem;
    margin-bottom: 3rem;
}

ul {
    display: flex;
}

li:first-child {
    margin-right:auto;
}

li {
    margin-left: 10px;
    padding-top: 2rem;

}

a {
    text-decoration: none;
}



h3,p {
    font-size: 1.2rem;
}


.section1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2.5rem;
    padding: 0.5em 1em;
    margin: 1em 0;
    border-left: 3px solid #3171af;
}

p {
    color: #333;
}

.text1 h2 {
    font-size: 2rem;
    letter-spacing: 3px;
}

.section1 h3 {
    border-bottom: solid blue;
    margin-top: 1.0rem;
    padding-bottom: 5px;
}

.pict1 {
    border-radius: 50%;
}

.section2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.pict2 {
    width: 640px;
    height: 424px;
    border-radius: 50%;
}

.section3 {
    display: flex;
    justify-content: space-between;
}
